* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #02369c;
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
    overflow: hidden;
}

/*font*/
@font-face {
    font-family: 'Poppins';
    src: url('Fonts/Poppins-Bold.ttf, Fonts/Poppins-Regular.ttf, Fonts/Poppins-SemiBold.ttf') format('truetype');
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background: white;
    color: #02369C;
    height: 30px;
    overflow: hidden;
    margin-top: 10px; /* OPTIONAL: remove if you don't want the gap */
}

.logo {
    width: 60px;
    height: auto;
}

.logo-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

/* NAVBAR - SAME AS DASHBOARD */
.Nav-bar {
    display: flex;
    gap: 0px;
}

.Nav-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.Nav-bar li a {
cursor: pointer;
color: white;
text-decoration: none;
font-size: 2.5vw;
font-family: 'Poppins';
font-weight: bold;

display: inline-block;
padding: 15px 55px;
background-color: #777A8D;
border-radius: 29px 29px 0 0;
position: relative;
margin-left: 10px;
margin-right: -28px;
z-index: 1;

position: relative;
box-shadow: 5px 0 5px -3px rgba(0,0,0,0.3);
}

.Nav-bar li:nth-child(1) a { z-index: 3; }
.Nav-bar li:nth-child(2) a { z-index: 2; }
.Nav-bar li:nth-child(3) a { z-index: 1; }

.Nav-bar a:hover {
    background-color: #02369C;
}




/*section for logging in*/
.admin-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 0px 0px;
    gap: 20px;
    margin-top: 45px;

    border: 2px solid white;
    border-radius: 50px;
    width: 80vw;
}

input[type="text"], input[type="password"] {
    width: 400px;
    height: 75px;
    font-size: 25px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}


.input-icon {
    width: 60px;
    height: 60px;
}

.admin-logo {
    display: block;
    margin: 0 auto;
    width: 250px; 
    height: 250px;
}

.login-btn {
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins';
    background-color: #a1a6c5;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%; /* or desired width */
}


.password-wrapper .eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    opacity: 0.7;
}

.password-wrapper .eye:hover {
    opacity: 1;
}


