@font-face {
    font-family: 'Poppins';
    src: url('Fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('Fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('Fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0038A8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px; 
    position: relative;
}

.white-bars {
    position: fixed;
    width: 22px;
    height: 65%;
    top: 27%;
    background-color: #ffffff;
    z-index: 10;
}

.white-bars.left {left: 0;}
.white-bars.right {right: 0;}

header {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 10px 40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    position: relative;
    z-index: 2;
}

.logo-left img {height: 105px;}
.logo-right img {height: 105px;}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title h1 {
    color: #0038A8;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 800px;
    z-index: 2;
    margin-top: 30px
}

.page-title {
    color: #ffffff;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.form-container {
    border: 1.5px solid #ffffff;
    border-radius: 20px;
    padding: 35px 50px;
    width: 100%;
    background: rgba(255,255,255,0.05);
    margin-bottom: 15px;
    margin-top: 0px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-group label {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.3rem;
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.form-group input {
    flex: 1;
    height: 50px;
    border-radius: 999px;
    border: none;
    padding: 0 20px;
    font-size: 1.2rem;
    outline: none;
    color: #333;
}

.button-group {
    display: flex;
    gap: 30px;
}

button {
    border: none;
    padding: 12px 0;
    width: 180px;
    border-radius: 999px;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.btn-time-in {
    background-color: #008000;
}

.btn-time-out {
    background-color: #CC0000;
}

@media (max-width: 768px) {
    .white-bars { 
        height: 65%; 
        top: 20%; 
        width: 15px; 
    }

    header { 
        flex-direction: column; 
        padding: 10px; 
        gap: 15px;
    }

    .header-title h1 { 
        font-size: 1.5rem; 
    }

    .form-container { 
        padding: 20px; 
    }

    .form-group label { 
        width: 120px; 
        font-size: 1rem; 
    }

    .form-group input { 
        height: 40px; 
    }

    button { 
        width: 140px; 
        font-size: 1.2rem; 
    }
}
