@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.ttf");
    font-weight: 700;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #0a3c96;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    padding: 18px 30px;
    background: #003b9a;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.navbar img {
    width: 38px;
    margin-right: 12px;
}

.brand {
    font-size: 22px;
    font-weight: 700;
}

.nav-links {
    margin-left: auto;
    display: flex;
}

.nav-links .tab {
    padding: 12px 40px;
    background: gray;
    margin-left: 12px;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
    transition: 0.2s;
}

.tab.active {
    background: #c8ccd6;
    color: #000;
    font-weight: 700;
}

/* GRID LAYOUT */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    padding: 35px;
}

/* CARDS */
.card {
    background: #0e42a6;
    border: 2px solid #5c7dff;
    border-radius: 20px;
    padding: 30px 35px;
    box-shadow: inset 0 0 10px rgba(255,255,255,0.15);
}

.card h2 {
    margin-bottom: 20px;
    font-size: 23px;
}

.label {
    display: inline-block;
    font-size: 18px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* INPUT */
.input-box {
    background: #000;
    border: 2px solid #fff;
    padding: 10px 15px;
    width: 70px;
    font-size: 22px;
    color: white;
    text-align: center;
    font-weight: 700;
    border-radius: 10px;
}

/* BUTTONS */
.btn-group {
    margin-top: 15px;
}

.btn {
    padding: 12px 30px;
    font-size: 17px;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-right: 12px;
}

.btn-gray {
    background: #8c949d;
    color: white;
}

.btn-red {
    background: #d11919;
    color: white;
}

.logout {
    width: 220px;
    margin-top: 25px;
}

/* ITALIC */
.italic {
    font-style: italic;
}
